---
name: Quality Checks
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  conventional-commits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Commisery
        uses: KevinDeJong-TomTom/commisery-action@v0.1.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull_request: ${{ github.event.number }}
